/* info section */
section.info-sec .title{
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray100-color);
}
section.info-sec .title h2{
  font-size: 1rem;
  line-height: 1.2rem;
}
section.info-sec .title p{
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--txt2-color);
}
section.info-sec .sec-con .event-info{
  padding: 32px 0;
}
section.info-sec .sec-con .event-info img{
  display: block;
  width: 100%;
  max-width: 820px;
  height: auto;
  margin: 0 auto;
}
section.info-sec .sec-con .event-info p{
  padding: 32px 0;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: center;
}
section.info-sec .sec-con .collected-stamp{
  max-width: 820px;
  border-radius: 16px;
  border: 1px solid var(--gray100-color);
  padding: 60px 0;
  margin: 0 auto;
}
section.info-sec .sec-con .collected-stamp h3{
  text-align: center;
}
section.info-sec .sec-con .collected-stamp .top-stamp{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 32px 0 20px;
}
section.info-sec .sec-con .collected-stamp .top-stamp img{
  display: block;
  width: calc((100% - 20px * 3) / 4);
  height: auto;
  opacity: 0.2;
}
section.info-sec .sec-con .collected-stamp .top-stamp img:first-child{
  opacity: 1;
}
section.info-sec .sec-con .collected-stamp .bottom-stamp{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px 0;
}
section.info-sec .sec-con .collected-stamp .bottom-stamp img{
  display: block;
  width: calc((100% - 20px * 3) / 4);
  height: auto;
  opacity: 0.2;
}
section.info-sec .sec-con a.code-btn{
  width: 220px;
  padding: 8px 32px;
  border-radius: 16px;
  background-color: var(--main1-color);
  color: var(--back-color);
  text-align: center;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 500;
}
/* special miffy product section */
section.product-sec h2{
  font-size: 1rem;
  line-height: 1.2rem;
}
section.product-sec .sec-con{
  padding-top: 24px;
  display: flex;
  gap: 32px 20px;
  flex-wrap: wrap;
  opacity: 0.2;
}
section.product-sec .sec-con a.product-list{
  flex: 0 1 calc((100% - 20px * 3) / 4);
}
section.product-sec .sec-con a.product-list img{
  display: block;
  width: 100%;
  height: auto;
}
/* tablet */
@media screen and (max-width: 1024px) {
  /* event info section */
  section.info-sec .sec-con .collected-stamp{
    max-width: 644px;
  }
  section.info-sec .sec-con .collected-stamp .top-stamp{
    margin: 32px 0 14px;
  }
  section.info-sec .sec-con .collected-stamp .top-stamp img{
    width: calc((100% - 20px * 3) / 4);
  }
  section.info-sec .sec-con .collected-stamp .bottom-stamp img{
    width: calc((100% - 20px * 3) / 4);
  }
  /* special miffy product section */
  section.product-sec .sec-con{
    gap: 24px 20px;
  }
  section.product-sec .sec-con a.product-list{
    flex: 0 1 calc((100% - 20px * 2) / 3);
  }
}
@media screen and (max-width: 440px) {
  /* event info section */
  section.info-sec .sec-con .collected-stamp{
    max-width: 100%;
  }
  section.info-sec .sec-con .collected-stamp .top-stamp{
    gap: 14px;
    margin: 24px 0 14px;
  }
  section.info-sec .sec-con .collected-stamp .top-stamp img{
    width: 100px;
  }
  section.info-sec .sec-con .collected-stamp .bottom-stamp{
    gap: 14px;
    margin: 0 0 24px 0;
  }
  section.info-sec .sec-con .collected-stamp .bottom-stamp img{
    width: 100px;
  }
  /* special miffy product section */
  section.product-sec .sec-con{
    gap: 20px 14px;
  }
  section.product-sec .sec-con a.product-list{
    flex: 0 1 calc((100% - 14px) / 2);
  }
}