main{
  display: flex;
  justify-content: center;
}
/* banner section */
.banner-sec{
  flex: 0 1 420px;
  padding: 160px 20px;
}
.banner-sec h5{
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-family: var(--rubik-font);
  margin-bottom: 0.8rem;
}
.banner-sec p{
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.9rem;
  word-break: keep-all;
}
/* character section */
section.characters-sec{
  flex: 0 1 860px;
  margin: 0;
}
section.characters-sec .inner{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
section.characters-sec .inner a.character{
  flex: 0 1 calc((100% - (20px * 3)) / 4);
}
section.characters-sec .inner a.character img{
  display: block;
  width: 100%;
  height: auto;
}
section.characters-sec .inner a.character:hover img{
  transform: scale(1.1);
}
section.characters-sec .inner a.character span.txt{
  display: block;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
}
/* popup */
.popup{
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000043;
  z-index: 11;
}
.popup.on{
  display: flex;
}
.popup .popup-inner{
  flex: 0 1 650px;
  padding: 60px 20px;
  background-color: var(--back-color);
  border-radius: 0.8rem;
}
.popup .popup-inner span.close-btn{
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  cursor: pointer;
  background: url('../../img/icon/32x32.svg') no-repeat 0 -32px / auto;
}
.popup .popup-inner span.close-btn:hover{
  background: url('../../img/icon/32x32.svg') no-repeat 0 0 / auto;
}
.popup .popup-inner .popup-con img{
  display: block;
  width: 295px;
  height: auto;
  margin: 8px auto 0;
  border-radius: 0.8rem;
}
.popup .popup-inner .popup-con .txt-con h5{
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 500;
  margin-bottom: 4px;
}
.popup .popup-inner .popup-con .txt-con p{
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 400;
  margin: 0 20px;
}
/* tablet */
@media screen and (max-width: 1024px) {
  main{
    flex-wrap: wrap;
  }
  .banner-sec{
    flex: 0 1 1024px;
    padding: 140px 24px 32px;
    background-color: var(--secondary1-color);
  }
  .banner-sec h5{
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 4px;
    color: var(--back-color);
  }
  .banner-sec p{
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--back-color);
  }
  section.characters-sec{
    flex: 0 1 1024px;
  }
  section.characters-sec .inner a.character{
    flex: 0 1 calc((100% - (20px * 2)) / 3);
  }
  .popup .popup-inner{
    flex: 0 1 692px;
    padding: 60px 24px;
  }
  .popup .popup-inner .popup-con img{
    width: 328px;
  }
  .popup .popup-inner .popup-con .txt-con p{
    margin: 0 24px;
  }
}
/* mobile */
@media screen and (max-width: 440px) {
  .banner-sec{
    flex: 0 1 440px;
    padding: 120px 20px 32px;
  }
  .banner-sec h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .banner-sec p{
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
  section.characters-sec{
    flex: 0 1 440px;
  }
  section.characters-sec .inner{
    gap: 14px;
  }
  section.characters-sec .inner a.character{
    flex: 0 1 calc((100% - (14px * 1)) / 2);
  }
  .popup .popup-inner{
    flex: 0 1 302px;
    padding: 40px 20px;
  }
  .popup .popup-inner .popup-con img{
    width: 172px;
  }
  .popup .popup-inner .popup-con .txt-con p{
    margin: 0 20px;
  }
}