@import url('../common/reset.css');
@import url('../common/header.css');
@import url('../common/footer.css');
@import url('../container/download-container.css');
header{
  border-bottom: 1px solid var(--gray100-color);
}
header .top-menu .breadcrumb span.current-page::after{
  content: "미피 자료실";
}
header .top-menu .goto-menu a.search{
  display: none;
}
header .top-menu .goto-menu a.shopping-bag{
  display: none;
}