@import url('../common/reset.css');
@import url('../common/header.css');
@import url('../common/footer.css');
@import url('../container/join-container.css');
header{
  border-bottom: 1px solid var(--gray100-color);
}
header .top-menu .breadcrumb span.bar{
  display: none;
}
header .top-menu .goto-menu a.search{
  display: none;
}
header .top-menu .goto-menu a.shopping-bag{
  display: none;
}
